/* ! Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ___ core elements ___ */

body {
	line-height: 1.7em;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 20px;
}

p {
	margin: 10px, 0;
}

/**** Utility Classes ****/
.container {
	margin: auto;
	max-width: 1100px;
	overflow: auto;
	padding: 0 20px;
}

/* ___ Nav Bar Style ___ */
.navBar {
	background-color: black;
	color: white;
	overflow: auto;
	height: 120px;
}

.options {
	color: cornsilk;
	display: block;
	padding-top: 72px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
}
.current {
	border-bottom: 2px cornsilk solid;
	font-weight: 600;
}

.options:hover {
	border-bottom: 2px cornsilk solid;
	font-weight: 600;
}

.logo-link {
	float: left;
	padding-left: 50px;
	margin-top: -30px;
}
.navBar ul {
	list-style: none;
	float: right;
}

.navBar ul li {
	float: left;
	padding-right: 10px;
}

#showcase {
	background-image: url('../Img/bedRoomOpp.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 40rem;
	background-size: cover;
}

.showcase-content h1 {
	color: honeydew;
	font-family: cursive;
	padding-top: 10rem;
	padding-left: 16px;
}

.showcase-content a {
	color: honeydew;
	padding-left: 31rem;
}
